.error-page-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message-container {
    padding: 3em;
}

.error-number {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 1em;
}

.error-instructions {
    font-size: 2em;
}