* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  height: fit-content;
}


@font-face {
  font-family: 'Karla';
  src: local('Karla'), url(./Karla/Karla-VariableFont_wght.ttf) format('truetype');
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(223,234,248);
  background: linear-gradient(217deg, rgba(223,234,248,1) 0%, rgba(254,250,208,1) 100%);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
