.main-menu {
    min-height: 100vh;
    padding-top: 10em;
    color: rgba(41, 50, 100, 1);
}

.title {
    text-align: center;
    width: 100%;
    min-width: 500px;
    margin: 0 auto 0;
    font-size: 5rem;
    font-weight: 700;
}

.description {
    font-size: 1.75rem;
    font-weight: 300;
    width: 50%;
    min-width: 450px;
    max-width: 600px;
    line-height: 1.25;
    margin: 2em auto 2em;
}

.main-menu-options-container {
    min-width: 450px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-menu--start-button {
    display: block;
    min-width: 200px;
    width: 200px;
    border: none;
    margin: 2em auto 0;
    padding: 0.3em 1.125em;
    background: rgba(77, 91, 158, 1);
    border-radius: 10px;
    color: rgba(245, 247, 251, 1);
    font-size: 1.75rem;
    font-weight: 400;
    cursor: pointer;
}

.main-menu-option {
    min-width: 450px;
    margin: 0 auto;
}

.option-title {
    font-size: 1.75rem;
    letter-spacing: 1.5px;
    margin: .75em auto;
    width: 75%;
}

.option-select {
    font-family: Karla;
    border: solid 1px rgba(41, 50, 100, 1);
    border-radius: 5px;
    padding: 0.75rem;
    width: 75%;
    margin: 0 auto;
    font-size: 1.125rem;
    display: block;
    
}