.trivia-page {
    padding: 4.25em;
}

.trivia-questions-container {
    width: 90%;
    margin: 0 auto;
}

.trivia-buttons-container {
    width: 35%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.trivia-check-answers-button, .trivia-back-to-main-button {
    border: none;
    padding: .75em 1.5em;
    background: rgba(77, 91, 158, 1);
    border-radius: 15px;
    color: rgba(245, 247, 251, 1);
    font-size: 1.25rem;
    cursor: pointer;
}

.trivia-end-game-message {
    margin: .75em 0;
    height: 1.5em;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    color: rgba(41, 50, 100, 1);
}